# Environnement
venv/
.env

# Données brutes (gérées par DVC)
data/raw/*.csv
data/processed/*.parquet

# MLflow
mlruns/

# Logs
logs/

# Monitoring reports
monitoring/reports/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db